<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Template POC</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li><strong>Template POC</strong></li>
        </ul>
        <ul>
          <li th:each="t: ${templates}">
            <a th:href="@{/{template}(template=${t})}" th:classappend="${t == template ? 'contrast' : 'secondary'}"
              >[(${#strings.capitalize(t)})]</a
            >
          </li>
        </ul>
      </nav>

      <article>
        <form method="post">
          <fieldset class="grid">
            <textarea
              id="template"
              name="template"
              rows="20"
              aria-label="Source template"
              th:hx-post="@{/{template}(template=${template})}"
              hx-trigger="keyup changed delay:500ms"
              hx-target="#result"
              required
            ></textarea>
            <div id="result" th:fragment="result" style="display: contents" hx-swap-oob="true">
              <fieldset th:if="${!parameters.isEmpty()}">
                <label th:each="parameter: ${parameters}">
                  [(${parameter.key})]:
                  <input
                          type="text"
                          th:name="${parameter.key}"
                          th:hx-post="@{/{template}(template=${template})}"
                          hx-trigger="keyup changed delay:500ms"
                          hx-target="#result"
                          placeholder="Parameter value"
                          aria-label="Text"
                          th:value="${parameter.value}"
                  />
                </label>
              </fieldset>
              <div th:if="${parameters.isEmpty()}">No parameters in template</div>
              <textarea name="result" rows="20" readonly>[(${result})]</textarea>
            </div>
          </fieldset>
        </form>
      </article>
      <div id="error" th:fragment="error" hx-swap-oob="true">
        <div role="group" th:if="${error}">
          <div role="button" class="outline secondary" aria-disabled="true" disabled><span>[(${error})]</span></div>
        </div>
      </div>
    </main>
  </body>
</html>
