<div class="row">
    <div class="col-sm-5">
        <form>
            <div class="form-group">
                <label for="template">Source template: </label>
                <textarea id="template" class="form-control" rows="50" style="width: 100%"></textarea>
            </div>
        </form>
    </div><!-- /.col -->
    <div class="col-sm-2">
        <form>
            <div class="form-group" ng-repeat="param in context">
                <label for="{{param.paramName}}">{{param.paramName}}: </label>
                <div class="input-group">
                    <input type="text" id="{{param.paramName}}" class="form-control"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                           ng-model="param.paramValue" ng-change="convert(context)" placeholder="Parameter value">
                        <span class="input-group-btn">
                            <span class="btn btn-danger" ng-click="removeParameter(param)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </span>
                        </span>
                </div>
            </div>
            <div ng-show="parameters.length > 0">
                <div class="form-group">
                    <label for="parameterPicker">Parameter: </label>
                    <select id="parameterPicker" class="form-control" ng-model="selectedParameter">
                        <option ng-repeat="parameter in parameters">{{parameter}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-primary" ng-click="addParameter(selectedParameter)">Add</button>
            </div>
            <div ng-show="parameters.length == 0">No parameters in template</div>
        </form>
    </div><!-- /.col -->
    <div class="col-sm-5">
        <form>
            <div class="form-group">
                <label for="result">Converted result: </label>
                <textarea id="result" class="form-control" rows="50" style="width: 100%"></textarea>
            </div>
            <div class="form-group">
                <p ng-show="conversionTime > -1">Conversion time: {{conversionTime}}</p>
            </div>
        </form>
    </div><!-- /.col -->
</div><!-- /.row -->