name: Build and Test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 25
        cache: maven
    - name: Build with Maven
      run: mvn verify --batch-mode --no-transfer-progress --file pom.xml
    - name: Create test summary
      uses: test-summary/action@v2
      with:
        paths: |
          **/target/surefire-reports/TEST-*.xml
          **/target/surefire-reports/TESTS-*.xml
          **/target/failsafe-reports/TEST-*.xml
      if: always()
